@import base

.container
	width: 900px
	margin: 0 auto
	padding: 0 15px

	+r(900)
		width: 767px

	+r(767)
		width: 576px

	+r(576)
		width: 100%

.header
	padding: 10px 0

	&__container
		+between

	&__info
		display: flex
		align-items: center

	&__link
		position: relative
		padding-right: 15px
		color: #000
		font-weight: 600
		font-size: 17px
		line-height: 18px
		text-decoration: none
		margin-right: 35px
		display: flex

		+r(480)
			display: none

		&:hover
			color: $accent

			&::before
				width: 100%

			&::after
				border-left: 1px solid $accent
				border-bottom: 1px solid $accent

		&:active
			color: $active

			&::after
				border-left: 1px solid $active
				border-bottom: 1px solid $active

		&::before
			content: ''
			background: $accent
			width: 0
			height: 1px
			position: absolute
			bottom: 0
			transition: all .6s

		&::after
			content: ''
			position: absolute
			right: 0
			top: 5px
			display: block
			height: 8px
			width: 8px
			border-left: 1px solid #000
			border-bottom: 1px solid #000
			transform: rotate(-45deg)
			transition: all .6s

	&__btn
		display: flex
		align-items: center
		position: relative
		color: #fff
		text-decoration: none
		padding: 0 15px
		border-radius: 35px
		overflow: hidden
		font-size: 16px
		font-weight: 600
		height: 35px

		+r(480)
			font-size: 14px

		&:hover
			color: #fff

			&::after
				width: 200%

		&:active
			bottom: -1px
			right: -1px

		&::after
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			background: linear-gradient(90deg, #FF5E67 0%, $active 96.6%)
			z-index: -1
			+transition

.hero
	background-image: url(../images/dist/hero.png)
	background-repeat: no-repeat
	background-position: 50% 94%
	background-size: initial
	padding: 140px 0 90px

	+r(900)
		padding: 55px 0

	+r(767)
		background-size: contain

	&__container
		position: relative

	&__title
		font-weight: 800
		font-size: 76px
		text-align: center
		line-height: 1.1

		+r(767)
			font-size: 50px

		+r(480)
			font-size: 36px

.about
	padding: 60px 0

	+r(900)
		padding: 30px 0

	&__container
		display: flex
		gap: 15px

		+r(480)
			flex-wrap: wrap

	&__col
		width: 50%

		+r(480)
			width: 100%

	p
		margin-bottom: 20px
		font-size: 20px
		line-height: 1.2

		+r(767)
			font-size: 16px
			margin-bottom: 15px

		&:last-child
			margin-bottom: 0

	h3
		margin-bottom: 30px
		font-size: 25px
		line-height: 1.2

		+r(767)
			margin-bottom: 15px
			font-size: 24px

		+r(480)
			font-size: 20px

	br
		+r(767)
			display: none

.case
	&__title
		margin-bottom: 40px
		font-size: 35px
		font-weight: 800

		+r(900)
			margin-bottom: 20px

		+r(767)
			font-size: 27px

	&__wrap
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		gap: 30px 3.3%

		+r(900)
			gap: 15px 3.3%

		+r(767)
			justify-content: center

	&__item
		position: relative
		display: block
		width: 31%

		+r(767)
			width: 48%
			
		+r(576)
			min-width: 315px

		+r(345)
			min-width: 100%

		&:first-child,
		&:last-child
			width: 65.1%

			+r(767)
				width: 48%

		img
			width: 100%
			min-height: 100%

		&_block
			position: absolute
			top: 0
			left: 0
			right: 0
			padding: 30px 35px

			+r(900)
				padding: 15px 20px

			+r(576)
				padding: 30px 40px

			+r(345)
				padding: 20px 30px

		h3
			margin-bottom: 15px
			font-size: 35px
			font-weight: 800
			color: #fff

			+r(900)
				font-size: 30px

			+r(767)
				font-size: 27px
				margin-bottom: 10px

		p
			font-size: 19px
			color: #fff
			line-height: 1.25

			+r(900)
				font-size: 17px

		br
			+r(767)
				display: none
			
		&_desk
			+r(767)
				display: none

		&_mob
			display: none

			+r(767)
				display: block

.add
	padding: 30px 0 80px

	&__container
		display: flex
		gap: 6.6%
		align-items: center

		+r(576)
			flex-wrap: wrap-reverse

	&__form
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		width: 31%
		height: 560px
		background-image: url(../images/dist/add__form.png)
		background-size: contain
		background-repeat: no-repeat

		+r(900)
			height: 470px

		+r(767)
			width: 30%
			height: 350px

		+r(576)
			width: 315px
			height: 140px
			background-image: url(../images/dist/add__form_mob.png)
			margin: 0 auto

		p
			width: 100%
			font-weight: 600
			font-size: 20px

			+r(767)
				font-size: 18px

		&_plus
			width: 40px
			height: 40px
			background-color: #000
			border-radius: 50%
			position: relative
			margin: 0 auto 15px

			+r(767)
				width: 30px
				height: 30px

			&::before,
			&::after
				content: ''
				display: block
				height: 2px
				width: 18px
				background-color: #fff
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)

				+r(767)
					width: 15px

			&::before
				transform: translate(-50%, -50%) rotate(90deg)

	&__desk
		width: 61.8%

		+r(767)
			width: 63.4%

		+r(576)
			width: 100%
			text-align: center
			margin-bottom: 25px

	&__title
		font-weight: 800
		font-size: 47px
		line-height: 1.1
		margin-bottom: 30px

		+r(767)
			font-size: 32px
			margin-bottom: 15px

		+r(576)
			font-size: 27px
			line-height: 1.3

	&__text
		font-weight: 400
		font-size: 21px
		line-height: 1.25

		+r(767)
			font-size: 18px

		+r(576)
			font-size: 15px
			line-height: 1.35

		br
			+r(767)
				display: none

			+r(576)
				display: block

.blog
	padding: 80px 0
	background: linear-gradient(284.04deg, #F8EBFF 15.28%, #FFECEC 73.78%)

	&__container
		display: flex
		gap: 6.6%
		align-items: center

	&__insayt
		width: 31%

	&__title
		font-weight: 800
		font-size: 45px
		line-height: 1.1
		margin-bottom: 30px

	&__link
		font-weight: 600
		font-size: 19px
		line-height: 1.4
		color: #000
		text-decoration: none
		position: relative
		padding-right: 15px
		@extend .header__link
		display: inline

		&:hover
			&::after
				border-left: 2px solid $accent
				border-bottom: 2px solid $accent

		&:active
			&::after
				border-left: 2px solid $active
				border-bottom: 2px solid $active

		&::after
			border-left: 2px solid #000
			border-bottom: 2px solid #000
			transform: rotate(-135deg)
			top: 8px
			height: 9px
			width: 9px

	&__product
		width: 48%
		background-color: #fff
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15)
		border-radius: 3px

		&_img
			display: block
			width: 100%
			position: relative
			overflow: hidden
			padding-top: 50%

			&:hover
				img
					transform: translate(-50%, -50%) scale(1.03)

			&:active
				img
					transform: translate(-50%, -50%) scale(1.01)

			img
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				min-height: 100%
				max-width: 100%
				transition: all .6s

		&_title
			font-size: 19px
			line-height: 1.25
			margin-bottom: 15px

			a
				color: #000
				text-decoration: none

				&:hover
					color: $accent

				&:active
					color: $active

		&_block
			padding: 15px 30px 30px
			border: 1px solid rgba(0, 0, 0, 0.1)
			border-top: 0

		&_list
			display: flex
			flex-wrap: wrap
			gap: 8px

		&_link
			position: relative
			background-color: #000
			border-radius: 33px
			padding: 3px 8px
			text-decoration: none
			color: #fff
			font-weight: 600
			font-size: 15px
			line-height: 1.2

			&:hover
				background-color: $accent
				color: #fff

			&:active
				bottom: -1px
				right: -1px

.video
	padding-top: 40px
	padding-bottom: 50px

	iframe
		width: 100%
		height: 420px

.design
	padding-top: 90px
	padding-bottom: 40px

	&__block
		display: flex
		text-align: center
		gap: 6.6%

	&__item
		width: 31%

		img
			margin-bottom: 20px

		h4
			font-size: 21px
			line-height: 1.4
			margin-bottom: 10px

		p
			font-weight: 400
			font-size: 19px
			line-height: 1.25
			margin-bottom: 30px

	&__link
		@extend .blog__link
		margin: 0

.parsing
	padding-top: 25px
	padding-bottom: 50px

	&__block
		display: flex
		align-items: center
		gap: 6%
		margin-bottom: 20px

		&:last-child
			margin-bottom: 0

	&__title
			margin-bottom: 40px
			text-align: center
			font-weight: 800
			font-size: 35px

	&__img
		position: relative
		width: 44%
		height: 220px
		overflow: hidden
		border-radius: 3px

		&:hover
			transform: scale(.97)

		&:active
			transform: scale(.99)

		img
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			min-height: 100%
			min-width: 100%

	&__text
		width: 50%
		font-size: 19px
		line-height: 1.25

		a
			color: #000
			text-decoration: none

			&:hover
				color: $accent

			&:active
				color: $active

